<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="off"
      internalLogFile="logs/internal.txt">

	<targets>

		<target xsi:type="File" name="sys"
				fileName="logs/${date:format=yyyyMM}/sys-${date:format=yyyyMMdd}.log"
				layout="${longdate} | ${uppercase:${level}} | ${logger}${newline}${message}${newline}" />

		<target xsi:type="File" name="info"
				fileName="logs/${date:format=yyyyMM}/info-${date:format=yyyyMMdd}.log"
				layout="${longdate} | ${uppercase:${level}} | ${logger}${newline}${message}${newline}" />

		<target xsi:type="File" name="warn"
				fileName="logs/${date:format=yyyyMM}/warn-${date:format=yyyyMMdd}.log"
				layout="${longdate} | ${uppercase:${level}} | ${logger}${newline}${message}${newline}" />

		<target xsi:type="File" name="error"
				fileName="logs/${date:format=yyyyMM}/error-${date:format=yyyyMMdd}.log"
				layout="${longdate} | ${uppercase:${level}} | ${logger}${newline}${message}${newline}" />

	</targets>

	<rules>
		<logger name="Microsoft.*" levels="Info,Warn" writeTo="sys" />
		<logger name="Autofac.*" level="Info" writeTo="info" />
		<logger name="Spear.*" level="Info" writeTo="info" />
		<logger name="*" level="Error" writeTo="error" />
		<logger name="*" levels="Trace,Debug,Warn,Fatal" final="true" />
	</rules>

</nlog>
